.currentdatetime h1{
	color: blue;
	text-align: center;
}
.currentdatetime #day_time{
	color: #32a84c;
	margin-left: 670px;
	font-size: 25px;
}
.currentdatetime #time{
	margin-left: 600px;
	font-size: 25px;
	color: red;
}